.tabs {
    display: flex;
    gap: 14px;
    padding: 10px;
    background-color: rgba(white, 0.25);
    border-radius: 12px;
    backdrop-filter: blur(3px);
    margin: 12px;
    margin-top: 50px;
}

.tab-tile{
    padding: 18px;
    background: rgba(black, 0.1);
    display: flex;
    cursor: pointer;

    //background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
    //border-radius: 10px;

    i {
        color: #222;
        cursor: pointer;
    }

}

.tab-tile::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(violet, 0.5);
}