.tabs {
    display: flex;
    gap: 14px;
    padding: 10px;
    background-color: rgba(white, 0.25);
    border-radius: 12px;
    backdrop-filter: blur(3px);
    margin: 12px;
    margin-top: 50px;
}

.tab {
    position: relative;
    z-index: 1;
}

.tab-tile{
    padding: 18px;
    display: flex;
    cursor: pointer;

    i {
        color: #222;
        cursor: pointer;
    }

}

.tab-tile::before {
    content: '';
   
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    z-index: -1;

    border-radius: 10px;

    transition: all 0.2s;

    opacity: 0.8;
}

.bookmarks-tab .tab-tile::before {
    background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
}

.todos-tab .tab-tile::before {
    background: linear-gradient(45deg, #a2ffff, #ffbdde);
}

.notes-tab .tab-tile::before {
    background: linear-gradient(45deg, #d2cdff, #5fffbc);
}

.tab-tile:hover::before {
    transform: scale(1.1);
    opacity: 1;
}